.wrapper {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.button {
  border: none;
  padding: 0;
  outline: none;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-position: center;
}
