.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.photoTitle {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.biggerPhoto {
  width: 256px !important;
  height: 256px !important;
}

.submit {
  background: var(--main-gradient);
  padding: 12px 91px;
  border: none;
  border-radius: 8px;
  color: var(--main1);
  font-family: inherit;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
