.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 16px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  padding-bottom: 100px;
}

.deleteProfileButton {
  background-color: var(--main1);
  width: 100%;
  padding: 12px 91px;
  border: none;
  border-radius: 8px;
  color: var(--black2);
  font-size: 16px;
  font-weight: 400;
}

.deleteProfileButtonWrapper {
  margin-top: 12px;
  background: var(--main-gradient);
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}
