.wrapper {
  display: flex;
  flex-direction: column;

  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;

  /* Text/Primary_1 */

  color: #1d1a4d;
}

.label {
  margin-bottom: 8px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  /* Text/Primary_1 */

  color: #1d1a4d;
}

.input {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;

  width: 438px;
  height: 52px;

  /* White */

  background: #ffffff;
  /* Stroke/Grey_1 */

  border: 1px solid #e3e1eb;
  border-radius: 8px;

  outline: none;

  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hideButton {
  background-color: transparent;
  border: none;

  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  gap: 8px;

  /* Text/Grey_2 */
  color: #747386;
}

.errorMessage {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  /* Text/Error */

  color: #ff5964;

  margin-top: 8px;
}

.errorInput {
  border: 1px solid #ff5964;
  color: #ff5964;
}
