:root {
    --titleSize: 20px;
    --titleWeight: 700;
    --answerSize: 11.41px;
    --imageHintSize: 15px;
}

.wrapper {
    padding: 18px 21px 0;
    margin: 0 auto;
    max-width: 100%;
    background-color: #66a6b0;
}

.heading {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.title {
    margin: 0;
    font-weight: var(--titleWeight);
    font-size: var(--titleSize);
    line-height: 24px;
}

.button {
    border: none;
    padding: 0;
    outline: none;
    background: none;
    width: 23px;
    height: 23px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5px;
}

.buttonSquare {
    grid-column: 1 span;
    height: 100%;
    border-radius: 1px;
    background: #fff;
}

.card {
    color: #fff;
}

.card:nth-child(1n) .cardInfo {
    background: var(--main2);
}

.card:nth-child(2n) .cardInfo {
    background: var(--accent2);
}

.card:nth-child(3n) .cardInfo {
    background: var(--accent3);
}

.cardPhoto {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    transform: translateY(7px);
    border-radius: 15px 15px 0 0;
}

.cardInfo {
    border-radius: 7px;
    padding: 14px 7px 7px;
    display: flex;
    flex-direction: column;
}

.cardTitle {
    margin: 0;
    font-size: 10px;
    line-height: 12px;
}

.cardAbout {
    margin: 0;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
}