.advices {
    padding: 12px 15px;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    font-family: inherit;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
}

.headingWrapper {
    margin-bottom: 24px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 44px 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.element {
    background: #F5F5FD;
    border-radius: 8px;
    padding: 12px;
    display: inline-flex;
    flex-direction: column;
    gap: 12px 0;
}

.elementTitle {
    width: fit-content;
    padding: 8px;
    margin: 0;
    color: var(--black1);
    background: #FFFFFF;
    border-bottom: 2px solid #D9D9F8;
    border-radius: 8px;
}

.elementText {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black1);
}

.elementTip {
    margin: 0;
    font-style: italic;
    font-weight: 500;
    background: #fff;
    color: var(--black1);
    padding: 8px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #7E7EE7;
    border-radius: 8px;
}

.bottomText {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin: 64px 0 0;
    padding: 0;
}