.wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.menu {
  background-color: var(--accent3);
  list-style: none;
  display: flex;
  margin: 0;
  padding: 14px calc(54px + 15px) 14px 54px;
  width: 100%;
  justify-content: center;
  column-gap: 37px;
  align-items: center;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuIcon {
  color: white;
}

.navLinkActive .menuIcon {
  color: red;
}
