:root {
    --titleSize: 20px;
    --titleWeight: 600;
    --answerSize: 11.41px;
    --imageHintSize: 15px;
}

.wrapper {
    padding: 12px 15px;
    margin: 0 auto;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
    font-weight: var(--titleWeight);
    font-size: var(--titleSize);
    line-height: 24px;
}

.button {
    border: none;
    padding: 0;
    outline: none;
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-image: url("../../../images/menu-block.svg");
    background-position: center;
}

.buttonOneColumn {
    background-image: url("../../../images/menu-list.svg");
}

.buttonSquare {
    grid-column: 1 span;
    height: 100%;
    border-radius: 1px;
    background: #fff;
}