.container {
  position: relative;
  border: 1px solid #ccccf5;
  border-radius: 4px;
  outline: none;
  user-select: none;
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: var(--service3);
  font-size: 16px;
}

.valueWrapper {
  display: flex;
  flex-grow: 1;
  gap: 0.5em;
  flex-wrap: wrap;
  cursor: pointer;
}

.options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  min-height: 48px;
  width: 100%;
  left: 0;
  top: 48px;
  background-color: var(--service3);
  z-index: 100;
  box-sizing: border-box;
}

.option {
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.option:last-child {
  border-bottom: none;
}

.optionsShow {
  display: block;
}

.optionSelected {
  outline: 2px solid var(--main2);
  border-radius: 4px;
}

.optionSelected:first-child {
  outline: 2px solid var(--main2);
}

.optionHighlighted {
  background-color: transparent;
}
/* .optionHighlighted {
  outline: 2px solid var(--main2);
  border-radius: 4px;
}

.optionHighlighted:first-child {
  outline: 2px solid var(--main2);
} */

.arrow {
  background-image: url(../../images/SelectArrowDown.svg);
  min-height: 5px;
  min-width: 10px;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s ease-in-out;
}

.arrowOpen {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}
