.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17.5px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  /* max-width: 344px; */
}

.errorMessage {
  color: var(--accent1);
  margin-top: 13px;
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
}

.errorInput {
  outline: 1px solid var(--accent1);
}

.symbolLimitMessage {
  font-size: 15px;
  line-height: 14px;
  color: var(--service2);
  margin-left: 12px;
}

.infoQuestionWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  font-size: 15px;
  line-height: 21px;
  gap: 5.5px;
}

.infoQuestion {
  color: var(--service2);
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin-left: 12px;
}

.infoInput {
  font-family: inherit;
  background-color: var(--bg2);
  border-radius: 4px;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
}

.infoInput:focus {
  font-family: inherit;
  outline: 1px solid var(--main2);
}

.infoInput::placeholder {
  color: var(--service4);
  font-family: inherit;
}

.textareaInput {
  min-height: 80px;
  resize: vertical;
  font-size: 16px;
}

.submitWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.submit {
  background-color: var(--main2);
  padding: 12px 91px;
  border: none;
  border-radius: 8px;
  color: var(--main1);
  font-family: inherit;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.submitContent {
  display: flex;
  justify-content: center;
}

.submitButtonDisablePadding {
  padding: 5px 91px;
}

.submitLabelWrapper {
  display: flex;
  width: 100%;
}

.submitLabelWrapperDisableEvents {
  pointer-events: none;
}

.submitSuccessColor {
  color: var(--accent4);
}

.submitDenyColor {
  color: var(--accent1);
}
