:root {
  --main1: #f4f9fc;
  --main2: #88c2ce;

  --accent1: #e3736c;
  --accent2: #26878d;
  --accent3: #1a78ae;

  --service1: #ffffff;
  --service2: #10100f;
  --service3: #bfbfbf;
  --service4: #ffffff;
}
