:root {
  --main1: #fff;
  --main2: #7e7ee7;

  --accent1: #e3736c;
  --accent2: #26878d;
  --accent3: #1a78ae;

  --service1: #ffffff;
  --service2: #10100f;
  --service3: #bfbfbf;
  --service4: #ffffff;
}
