.wrapper {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  height: 54px;
  border-radius: 32px;
  user-select: none;

  background: #3a65fd;
  box-shadow: 0px 2.43185px 12.1593px rgba(0, 0, 0, 0.2);

  color: #ffffff;
}

.wrapper:hover {
  background: #85a0ff;
  border: none;
  box-shadow: 0px 2.43185px 12.1593px rgba(0, 0, 0, 0.2);
  color: #1d1a4d;
}

.wrapper:active {
  background: #294dcf;
  border: none;
  box-shadow: 0px 2.43185px 12.1593px rgba(0, 0, 0, 0.2);
  color: white;
}

.disabledWrapper,
.disabledWrapper:hover,
.disabledWrapper:active {
  cursor: not-allowed;
  background: #e3e1eb;

  box-shadow: 0px 2.43185px 12.1593px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  color: #747386;
}

.button {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.container {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
  gap: 8px;
}
