.page {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
}

.image {
  background-image: url('../../../../images/Organizer/forgotImage.svg');
  max-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 710px;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 160px 155px 160px 137px;
  box-sizing: border-box;
  max-width: 730px;
}

.backButton {
  display: flex;
  width: fit-content;
  gap: 16px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #747386;

  margin-bottom: 80px;

  user-select: none;
  cursor: pointer;
}

.title {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;

  margin: 0;
  margin-bottom: 32px;
  /* identical to box height, or 45px */

  letter-spacing: -0.01em;

  /* Text/Primary_1 */

  color: #1d1a4d;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 438px;
}

.text {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #1d1a4d;
}

.submitButton {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.submitButtonWrapper {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  height: 54px;

  margin-top: calc(24px - 16px);

  background: #3a65fd;
  box-shadow: 0px 2.43185px 12.1593px rgba(0, 0, 0, 0.2);
  border-radius: 32px;

  color: #ffffff;
}

.submitButtonWrapperDisabled {
  background: #e3e1eb;

  box-shadow: 0px 2.43185px 12.1593px rgba(0, 0, 0, 0.2);
}

/* .image {
  width: 500px;
  height: 100px;
} */

/* .wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.formWrapper {
  display: flex;
  flex-direction: column;

  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;

  padding: 160px 155px 160px 137px;

  box-sizing: border-box;
  max-width: 730px;
}

.image {
  max-height: 100vh;
}

.form {
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;

  letter-spacing: -0.01em;

  color: #1d1a4d;
}

.text {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #1d1a4d;
}

.backButton {
  display: flex;
  gap: 16px;
  align-items: center;

  cursor: pointer;
  user-select: none;

  margin-bottom: 80px;

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #747386;
}

.submitButton {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.submitButtonWrapper {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  height: 54px;

  background: #3a65fd;
  box-shadow: 0px 2.43185px 12.1593px rgba(0, 0, 0, 0.2);
  border-radius: 32px;

  color: #ffffff;
} */
