@import url(./utils/variables.css);
@import url(./vendor/fonts/fonts.css);
@import url('pages/Application/welcome/welcome-slider.css');

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
