@import url(./utils/variables.css);
@import url(./vendor/fonts/fonts.css);
@import url('./pages/welcome/welcome-slider.css');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
