.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 24px;
}

.events {
    grid-column: 7 span;
}

.basic {
    padding: 32px;
    color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    gap: 0 40px;
    justify-content: space-between;
/*    max-width: 611px;
    height: 188px;
    width: 100%;*/
    background-color: var(--main-lk);
}

.basicTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 16px;
}

.basicSubtitle {
    font-family: 'Lato', sans-serif;
    margin: 0 0 16px;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.basicButton {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    letter-spacing: 0.02em;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}